<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Resumo</mat-card-title>
    <mat-card-subtitle>Valor por hora hoje: R$5,00</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-resume-information information="Vagas ocupadas:" value="9" />
    <app-resume-information information="Vagas livres:" value="3" />
    <app-resume-information information="Total de vagas:" value="12" />
    <app-resume-information information="Valor total:" value="R$ 36,00" />
  </mat-card-content>
</mat-card>