<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Resumo</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mt-3">
    <app-resume-information information="Vagas ocupadas:" [value]="parkingLot?.occupiedSpots" />
    <app-resume-information information="Vagas livres:" [value]="parkingLot?.freeSpots" />
    <app-resume-information information="Total de vagas:" [value]="parkingLot?.totalSpots" />
    <app-resume-information information="Valor total:" [value]="totalAmount ?? 0" [isCurrency]="true" />
  </mat-card-content>
</mat-card>