<section
  (click)="openDialog()"
  (keypress)="openDialog()"
  tabindex="1"
  class="
    aspect-square relative
    flex justify-center items-center cursor-pointer
    border-2 border-dashed border-zinc-500
    hover:border-primary hover:text-primary
    focus:border-primary focus:text-primary
  "
  >
  @if (spot.type === 'HANDICAPPED') {
    <mat-icon class="absolute left-2 top-2">accessible</mat-icon>
  }
  @else if (spot.type === 'ELDERLY') {
    <mat-icon class="absolute left-2 top-2">elderly</mat-icon>
  }

  @if (spot.vehicle) {
    <div class="flex flex-col justify-center items-center gap-4">
      <mat-icon class="scale-150">no_crash</mat-icon>
      <p class="font-medium">{{ spot.vehicle.plate | uppercase }}</p>
      <p>{{ spot.name }}</p>
    </div>
  }
  @else {
    <p class="text-4xl">{{ spot.name }}</p>
  }
</section>