<form class="py-4 space-y-1">
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>CPF</mat-label>
    <input
      matInput
      type="text"
      mask="000.000.000-00"
      [formControl]="form.controls.cpf"
      (blur)="searchClientByCpf()"
    />
    <mat-error>Campo obrigatório</mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Nome</mat-label>
    <input matInput type="text" [formControl]="form.controls.name" />
    <mat-error>Campo obrigatório</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Telefone</mat-label>
    <input matInput type="text" mask="(00) 00000-0000" [formControl]="form.controls.phone" />
    <mat-error>Campo obrigatório</mat-error>
  </mat-form-field>

  <div class="text-right">
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="createClient()"
      [disabled]="form.invalid"
    >Próximo</button>
  </div>
</form>
