<form class="py-4 space-y-1">
  <mat-form-field appearance="outline" class="  w-full">
    <mat-label>Placa</mat-label>
    <input
      matInput
      type="text"
      mask="AAA-AAAA"
      [formControl]="form.controls.plate"
      (blur)="searchVehicleByPlate()"
    />
    <mat-error>Campo obrigatório</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Modelo</mat-label>
    <input matInput type="text" [formControl]="form.controls.model" />
    <mat-error>Campo obrigatório</mat-error>
  </mat-form-field>
  
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Cor</mat-label>
    <input matInput type="text" [formControl]="form.controls.color" />
    <mat-error>Campo obrigatório</mat-error>
  </mat-form-field>

  <div class="text-right">
    <button
      mat-stroked-button
      type="button"
      color="primary"
      (click)="goBack()"
    >Voltar</button>
    <button
      mat-flat-button
      type="button"
      color="primary"
      (click)="createVehicle()"
      [disabled]="form.invalid"
    >Próximo</button>
  </div>
</form>