<mat-stepper
  #stepper
  [linear]="true"
  [orientation]="(isHandset$ | async) ? 'vertical' : 'horizontal'"
>
  <mat-step label="Informações do motorista" [stepControl]="clientForm">
    <app-client-form (nextClick)="nextStep()" />
  </mat-step>

  <mat-step label="Informações do veículo" [stepControl]="vehicleForm">
    <app-vehicle-form />
    <div class="text-right space-x-3">
      <button type="button" mat-stroked-button color="primary" matStepperPrevious>Voltar</button>
      <button type="button" mat-flat-button color="primary" (click)="parkVehicle()">Salvar</button>
    </div>
  </mat-step>

  <mat-step label="Conclusão">
    <p>Veículo estacionado com sucesso!</p>
    <div class="text-right">
      <button type="button" mat-flat-button color="primary" (click)="close()">Fechar</button>
    </div>
  </mat-step>
</mat-stepper>