<mat-stepper
  [linear]="true"
  [orientation]="(isHandset$ | async) ? 'vertical' : 'horizontal'"
>
  <mat-step label="Informações do motorista">
    <form class="py-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>CPF</mat-label>
        <input matInput type="text" mask="000.000.000-00" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Nome</mat-label>
        <input matInput type="text" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Telefone</mat-label>
        <input matInput type="text" mask="(00) 00000-0000" />
      </mat-form-field>
      <div class="text-right">
        <button type="button" mat-flat-button color="primary" matStepperNext>
          Próximo
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step label="Informações do veículo">
    <form class="py-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Placa</mat-label>
        <input matInput type="text" mask="A{3}-A{4}" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Modelo</mat-label>
        <input matInput type="text" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Cor</mat-label>
        <input matInput type="text" />
      </mat-form-field>
      <div class="text-right space-x-3">
        <button type="button" mat-stroked-button color="primary" matStepperPrevious>
          Voltar
        </button>
        <button type="button" mat-flat-button color="primary" matStepperNext>
          Salvar
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step label="Conclusão">
    <p>Veículo estacionado com sucesso!</p>
    <div class="text-right">
      <button type="button" mat-flat-button color="primary" (click)="closeClick.emit()">
        Fechar
      </button>
    </div>
  </mat-step>
</mat-stepper>